<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="helloWorld" class="com.kraynov.HelloWorld">
        <property name="message" value="Hello World: spring!"/>
    </bean>

    <bean id="helloWorldFromPakr" class="com.kraynov.HelloWorldFromAuthor">
        <property name="author" value="Pavel Kraynov"/>
        <property name="message" value="Hello spring-World!"/>
    </bean>

</beans>